/* Default Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  transition: 0.3s all ease;
  text-decoration: none;
}
button {
  background: transparent;
  cursor: pointer;
  transition: 0.3s all ease;
}

/* Variables */
:root {
  --fontFamily: "Kentledge", sans-serif;
  --colorOrange: #f07f3c;
  --colorPurple: #2a036d;
  --colorPurpleLight: #440499;
  --colorCyan: #009fe3;
  --colorViolet: #66048b;
}

/* Fonts */
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Extra-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Heavy.otf") format("opentype");
  font-weight: 950; /* Или используйте 900, если 950 не поддерживается */
  font-style: normal;
}

/* Global Styles */
body {
  font-family: var(--fontFamily);
}
.container {
  max-width: 1544px;
  padding: 0 20px;
  margin: 0 auto;
}
h1 {
  font-weight: 950;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  color: var(--colorOrange);
  line-height: 1.125;
}

h2 {
  font-weight: 800;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 46px;
  color: var(--colorOrange);
}
h3 {
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 36px;
  color: var(--colorOrange);
}
.section__title {
  text-transform: capitalize;
}
.section__subtitle {
  color: white;
}
.section__text {
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  font-weight: 500;

  &.section__text-bold {
    text-transform: uppercase;
    font-weight: 950;
    line-height: 1.3;
  }
}
.hidden {
  display: none !important;
}

/* Header & Hero ========================================== */
.hero__wrapper {
  background: var(--colorViolet) url("../images/hero-bg.png") center/cover
    no-repeat;
}
/* Header */
.header {
  padding-top: 50px;
}
.menu {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--colorOrange);
  max-width: 374px;
  width: 100%;
}
.menu__link {
  font-size: 22px;
  color: #fff;
  position: relative;
  &:hover {
    &:after {
      scale: 1;
    }
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: var(--colorOrange);
    scale: 0;
    transition: 0.3s all ease;
  }
  &.active {
    color: var(--colorOrange);
    font-weight: 950;
    &:after {
      scale: 1;
    }
  }
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  padding-bottom: 235px;
}
.hero__logo {
  max-width: 722px;
}
.hero__title {
  max-width: 700px;
  text-align: center;
  color: var(--colorOrange);
}

/* Opportunity ============================================== */
.section__opportunity {
  padding: 100px 0;
  background: var(--colorPurpleLight);
}
.opportunity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}
.opportunity__item {
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-top: 5px solid var(--colorOrange);
  &.opportunity__item-left {
    grid-column: span 2;
    background: var(--colorViolet);
    padding: 60px 80px 110px 90px;
  }
  &.opportunity__item-right {
    background: var(--colorPurple);
    padding: 60px 70px 90px 50px;
  }
}

/* Ready =================================================== */
.section__ready {
  padding: 100px 0;
  background: var(--colorViolet);
}
.ready {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  @media screen and (width <= 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (width <= 620px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ready__item {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ready__item-info {
  background: var(--colorPurple);
  padding: 64px 24px;
  height: 100%;
  border-top: 5px solid var(--colorOrange);
}
.ready__item-title {
  color: #fff;
}
.ready__item-text {
  margin-top: 24px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: var(--colorCyan);
}

/* Different ============================================== */
.section__different {
  padding: 100px 0;
  background: var(--colorPurpleLight);
}
.different {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}
.different__item {
  background: var(--colorViolet);
  display: flex;
  flex-direction: column;

  &.different__item-left {
    grid-column: span 2;
  }
  &.different__item-right {
    padding: 64px 70px 90px 50px;
  }
}
.different__item-inner {
  padding: 60px 80px 64px 90px;
  gap: 42px;
  display: flex;
  flex-direction: column;
}
.different__item-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 5px solid var(--colorOrange);
}
