/* Default Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  transition: 0.3s all ease;
  text-decoration: none;
}
button {
  background: transparent;
  cursor: pointer;
  transition: 0.3s all ease;
  border: none;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
/* Variables */
:root {
  --fontFamily: "Kentledge", sans-serif;
  --colorOrange: #f07f3c;
  --colorOrangeHovered: #c95e21;
  --colorPurple: #2a036d;
  --colorPurpleLight: #440499;
  --colorCyan: #009fe3;
  --colorViolet: #66048b;
}

/* Fonts */
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Extra-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Kentledge";
  src: url("../fonts/Kentledge-Heavy.otf") format("opentype");
  font-weight: 950; /* Или используйте 900, если 950 не поддерживается */
  font-style: normal;
}

/* Global Styles */
body {
  font-family: var(--fontFamily);
}
.container {
  max-width: 1544px;
  padding: 0 20px;
  margin: 0 auto;
}
h1 {
  font-weight: 950;
  font-size: 42px;
  text-transform: uppercase;
  color: var(--colorOrange);
  line-height: 1.125;
  @media screen and (width <= 992px) {
    font-size: 36px;
  }
}

h2 {
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  text-transform: uppercase;
  color: var(--colorOrange);
  @media screen and (width <= 992px) {
    font-size: 32px;
  }
}
h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--colorOrange);

  @media screen and (width <= 992px) {
    font-size: 28px;
  }
}
h4 {
  font-size: 23px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--colorOrange);

  @media screen and (width <= 992px) {
    font-size: 20px;
  }
}
strong {
  font-weight: 950;
}
.section__title {
  text-transform: capitalize;
}
.section__subtitle {
  color: white;
}
.section__text {
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  font-weight: 500;
  @media screen and (width <= 992px) {
    font-size: 20px;
    line-height: 30px;
  }
  &.section__text-bold {
    text-transform: uppercase;
    font-weight: 950;
  }
}
.section__text-link {
  font-weight: 950;
  color: #fff;
  text-decoration: underline;
  &:hover {
    color: var(--colorOrange);
  }
}
.section__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  @media screen and (width <= 992px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section__grid-item {
  &.section__grid-item--left {
    background: var(--colorViolet);
    grid-column: span 2;
    @media screen and (width <= 992px) {
      grid-column: span 1;
    }
  }
  &.section__grid-item--right {
    background: var(--colorPurple);
  }
}

.btn {
  padding: 20px 28px;
  background: var(--colorOrange);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 950;
  &:hover {
    background: var(--colorOrangeHovered);
  }
  &:active {
    color: #fff;
  }
  @media screen and (width <= 992px) {
    padding: 16px 24px;
    font-size: 20px;
  }
}
.btn-sm {
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  color: #25034d !important;
  justify-content: center;
  gap: 24px;
}

/* Utils */
.hidden {
  display: none !important;
}
.uppercase {
  text-transform: uppercase;
}
.mb-4 {
  margin-bottom: 16px;
}
.font-heavy {
  font-weight: 950;
}
.font-black {
  font-weight: 800;
}
.text-white {
  color: #fff;
}
.mt-10 {
  margin-top: 40px;
  @media screen and (width <= 1024px) {
    margin-top: 32px;
  }
}
.mt-12 {
  margin-top: 48px;
  @media screen and (width <= 1024px) {
    margin-top: 32px;
  }
}
.text-purple {
  color: var(--colorPurple);
}

/* Header & Hero ========================================== */
.hero__wrapper {
  background: var(--colorViolet) url("../images/hero-bg.png") center/cover
    no-repeat;
}
/* Header */
.header {
  padding-top: 50px;
  @media screen and (width <= 992px) {
    padding-top: 24px;
  }
}
.menu {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  @media screen and (width <= 992px) {
    display: none;
  }
}
.menu__list {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--colorOrange);
  max-width: 374px;
  width: 100%;
  list-style: none;
}
.menu__link {
  font-size: 22px;
  color: #fff;
  position: relative;
  &:hover {
    &:after {
      scale: 1;
    }
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: var(--colorOrange);
    scale: 0;
    transition: 0.3s all ease;
  }
  &.active {
    color: var(--colorOrange);
    font-weight: 950;
    &:after {
      scale: 1;
    }
  }
}
.mobile__menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--colorPurple);
  padding: 80px 34px;
  z-index: 10;
}
.mobile__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.mobile__menu-link {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  z-index: 20;
}
.burger-button {
  z-index: 20;
  position: relative;
  margin-left: auto;
  display: none;
  height: 20px;
  width: 30px;
  background: none;
  @media screen and (width <= 992px) {
    display: block;
  }

  &.active {
    .burger-button-top-line {
      transform: translateY(9px) rotate(45deg);
    }
    .burger-button-center-line {
      opacity: 0;
    }
    .burger-button-bottom-line {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}
.burger-button-top-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: var(--colorOrange);
  transition: 0.3s all ease;
}
.burger-button-center-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  transform: translate(0%, -50%);
  background: var(--colorOrange);
  transition: 0.3s all ease;
}
.burger-button-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: var(--colorOrange);
  transition: 0.3s all ease;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  padding-bottom: 235px;
}
.hero__logo {
  max-width: 722px;
  width: 100%;
  height: auto;
}
.hero__title {
  max-width: 700px;
  text-align: center;
  color: var(--colorOrange);
}

/* CTA ====================================================== */
.cta {
  background: #fff;
  padding: 44px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  @media screen and (width <= 1024px) {
    padding: 40px 50px;
    flex-direction: column;
    align-items: start;
  }
  @media screen and (width <= 992px) {
    padding: 24px;
  }

  &.cta__different {
    margin-top: -240px;
    margin-bottom: 60px;
  }
  &.cta__opportunity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -240px;
    margin-bottom: 60px;
    @media screen and (width <= 1280px) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: -320px;
    }
    @media screen and (width <= 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.cta__title {
  position: relative;
  font-size: 40px;
  line-height: 1;
  @media screen and (width <= 1024px) {
    font-size: 32px;
  }
  @media screen and (width <= 992px) {
    font-size: 28px;
  }
  &::after {
    position: absolute;
    content: "";
    height: 94px;
    width: 10px;
    background: var(--colorOrange);
    left: -85px;
    top: 50%;
    transform: translate(-50%, -50%);
    @media screen and (width <= 1024px) {
      left: -45px;
    }
    @media screen and (width <= 992px) {
      left: -19px;
      height: 60px;
    }
  }
}
.cta__btn {
  flex-shrink: 0;
  min-height: 90px;
  @media screen and (width <= 1024px) {
    min-height: auto;
  }
}
.cta__title-opportunity {
  font-size: 26px;
  text-transform: none;
  color: var(--colorPurple);
  font-weight: 500;
  line-height: 1.2;
  &::after {
    @media screen and (width <= 992px) {
      height: 100px;
    }
    @media screen and (width <= 680px) {
      height: 128px;
    }
  }
}

/* Opportunity ============================================== */
.section__opportunity {
  padding: 150px 0 100px 0;
  background: var(--colorPurpleLight);
}
.opportunity__item {
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-top: 5px solid var(--colorOrange);
  &.opportunity__item-left {
    padding: 60px 90px;
    @media screen and (width <= 1440px) {
      padding: 40px 32px;
    }
  }
  &.opportunity__item-right {
    padding: 60px 50px;
    @media screen and (width <= 1440px) {
      padding: 40px 32px;
    }
  }
}

/* Ready =================================================== */
.section__ready {
  padding: 100px 0 150px 0;
  background: var(--colorViolet);
  @media screen and (width <= 1024px) {
    padding: 80px 0 150px 0;
  }
}
.ready {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  @media screen and (width <= 1320px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (width <= 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ready__item {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ready__item-info {
  background: var(--colorPurple);
  padding: 64px 24px;
  height: 100%;
  border-top: 5px solid var(--colorOrange);
  @media screen and (width <= 1024px) {
    padding: 40px 20px;
  }
}
.ready__item-title {
  color: #fff;
}
.ready__item-text {
  margin-top: 24px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: var(--colorCyan);
}

/* Different ============================================== */
.section__different {
  padding: 150px 0 100px 0;
  background: var(--colorPurpleLight);
}
.different__item {
  background: var(--colorViolet);
  display: flex;
  flex-direction: column;
}
.different__subtitle {
  font-weight: 400;
}
.different__item-inner {
  padding: 60px 90px;
  gap: 42px;
  display: flex;
  flex-direction: column;
  border-top: 5px solid var(--colorOrange);
  @media screen and (width <= 1440px) {
    padding: 40px 32px;
  }
  @media screen and (width <= 992px) {
    padding: 24px 20px;
  }
}
.different__item-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.different__top-logo {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dirrefent__top {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/different-small-bg.png") center / cover no-repeat;
  border-bottom: 5px solid var(--colorOrange);
  height: 100%;
}
.dirrefent__top-title {
  text-align: center;
  margin-top: 34px;
  line-height: 1.2;
}
.details {
  padding: 60px 50px 20px 50px;
  background: var(--colorViolet);
  @media screen and (width <= 1440px) {
    padding: 40px 32px;
  }
  @media screen and (width <= 992px) {
    padding: 24px 20px;
  }
}
.details__title {
  margin-bottom: 40px;
  @media screen and (width <= 1024px) {
    margin-bottom: 32px;
  }
}
.details__inner {
  padding-top: 10px;
  border-top: 1px solid #fff;
  padding-bottom: 30px;
  @media screen and (width <= 1440px) {
    padding-bottom: 20px;
  }
}
.details__subtitle {
  margin-bottom: 16px;
}
.details__list-item {
  color: #fff;
  position: relative;
  padding-left: 20px;
  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 14px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
  }
}

/* Hosts ================================================= */
.hosts__wrapper {
  margin-top: 90px;
}
.hosts {
  margin-top: 46px;
}
.hosts__item-left {
  padding: 60px 50px;
  border-top: 5px solid var(--colorOrange);
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media screen and (width <= 992px) {
    padding: 24px 20px;
    gap: 32px;
  }
}
.hosts__item-right {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  @media screen and (width <= 1440px) {
    padding: 40px 32px;
  }
}
.hosts__title {
  border-left: 5px solid var(--colorOrange);
  padding-left: 28px;
  color: #fff;
}
.hosts__subtitle {
  color: #fff;
}
.address__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 24px;
}
.address__list-item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.address__btn {
  margin-top: auto;
}

/* Footer ================================================ */
footer {
  background: url("../images/footer__bg.png") center/cover no-repeat;
  padding: 80px 0;
  @media screen and (width <= 992px) {
    padding: 40px 0 80px 0;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (width <= 992px) {
    flex-direction: column;
    gap: 40px;
  }
}
.footer__item-right {
  max-width: 390px;
}
.footer__logo {
  max-width: 433px;
  width: 100%;
  height: auto;
}
.footer__text {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  @media screen and (width <= 1024px) {
    font-size: 32px;
  }
  @media screen and (width <= 992px) {
    font-size: 28px;
  }
}
.footer__btn {
  margin-top: 32px;
}
